<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Settings">


    <test  name="TC_AUTO_MOB_014 Verify all setting screen options" verbose="2">
             <classes>
                 <class name="Tests.Settings">
                 <methods>
                     <include name="verify_settings_screen_options"></include>
                 </methods>
                 </class>
             </classes>
         </test>

</suite>